<h1>Colección de cartas</h1>

<!-- Vamos a crear un botón para crear cartas nuevas. el modal es la categoría de elementos que va a aparecer al pursar el boton y a continuación se especifica el elmento concreto (debe ponerse #). -->
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCardModal">Crea tu carta</a>

<!-- Vamos a crear un bucle que nos muestre las cartas disponibles -->
<ul>
    <div class="row">
        {{#each cards}}
        <div class="col">
            <div class="card card-item" data-card-id="{{ id}}" style="width: 18rem;">
                <img src="{{avatar}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <!-- Vamos a crear un boton para comprar la carta que nos redirija a una página donde se muestre esa carta y sus características.-->
                    <a href="/cards/{{id}}" class="card-link">
                        <i class="bi bi-currency-dollar"></i> Buy {{price}} ETH
                    </a>
                    <!-- Vamos a crear una opción para borrar cartas, desplegando una modal que nos indique si estamos seguros. -->
                    <a href="" class="btn btn-danger float-end delete-card-item" data-card-id="{{id}}" data-bs-toggle="modal" data-bs-target="#deleteCardModal"> 
                        <i class="bi bi-x-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</ul>

<!-- Vamos a hacer que cuando se pulse el botón aparezca un formulario para los datos. Bootstrap de por si nos da la funcionalidad de código javascrip directamente desde el navegador.-->
<!-- Modal -->
<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva carta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form method="POST" action="/cards">
                <div class="mb-3">
                    <label for="example-card" class="form-label">Nombre de la carta</label>
                    <input type="text" name="name" class="form-control"
                        aria-describedby="cardHelp"/> 
                </div>
                <div class="mb-3">
                    <label for="example-card" class="form-label">Descripción de la carta</label>
                    <input type="text" name="description" class="form-control"
                        aria-describedby="cardHelp"/>
                </div>
                <div class="mb-3">
                    <label for="example-card" class="form-label">Precio</label>
                    <input type="text" name="price" class="form-control"
                        aria-describedby="cardHelp"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" id="create-card-button" class="btn btn-primary" value="Guardar" disabled="disabled">Guardar cambios</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar cartas-->
<div class="modal fade" id="deleteCardModal" tabindex="-1" aria-labelledby="exampledeletemodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampledeleteCardModal">Eliminar carta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de que deseas eliminar esta carta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cerrar</button>
                <a href="/delete_card" id="delete-card-button" type="button" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>