<h1>Colección de cartas</h1>

<!-- Vamos a crear un botón para crear cartas nuevas. el modal es la categoría de elementos que va a aparecer al pursar el boton y a continuación se especifica el elmento concreto (debe ponerse #). -->
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCardModal">Crea tu carta</a>

<!-- Vamos a crear un bucle que nos muestre las cartas disponibles -->
<ul>
    <div class="row">
        {{#each cards}}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{avatar}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="/buy/{{id}}" class="card-link">Buy {{price}} ETH</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</ul>

<!-- Vamos a hacer que cuando se pulse el botón aparezca un formulario para los datos. Bootstrap de por si nos da la funcionalidad de código javascrip directamente desde el navegador.-->
<!-- Modal -->
<div class="modal fade" id="createCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear nueva carta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <form method="POST" action="/cards">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nombre de la carta</label>
                    <input type="text" name="user" class="form-control"
                        aria-describedby="cardHelp">
                    <div id="cardHelp" class="form-text">El nombre de tu carta</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </div>
            </form>
        </div>
    </div>
</div>