<!-- Como la llamada desde Index.js es a la clase card, debemos usar card. .... seguido de la propiedad.-->
<img src="{{card.avatar}}" />
<h1>Carta: {{card.name}} / ID:#{{card.id}} </h1>

<p>{{card.description}}</p>
<p>{{card.price}} ETH</p>